@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('../img/unplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.logo{
    text-transform: uppercase;
}

.navbar{
    display: flex; 
    align-items: center;
    justify-content: space-between;
    color:#fff;
    padding-top: 10px;
    padding-left: 10%;
    padding-right: 10%;
}

.navbar a{
    text-decoration: none;
    color:#fff;
    font-weight: 500;
}

.navbar a:hover{
    color:#8BA5C8;
}

.navbar .nav-items li{
    display: inline-block; /* transforma a lista na horizontal */
    padding: 10px 40px; /* dá o espaçamento entre os itens da lista (itens do nav) */
}

.btn{
    padding: 15px;
    color:black;
    background-color: #8BA5C8;
    border:1px solid black;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
}

.btn:hover{
    transform: scale(1.1);
}

.content{
    padding-top: 80px;
}

.content h1{
    color:#8BA5C8;
    text-align: center;
}

.content p{
    width:520px;
    color:#fff;
    margin: auto;
    font-size: 14px;
    text-align: center;
}